# API Configuration
VITE_API_URL=http://localhost:8000/api
VITE_DASHBOARD_URL=http://localhost:5174
VITE_LANDING_URL=http://localhost:5173

# Database Configuration
DB_CONNECTION=mongodb
MONGODB_URI="mongodb+srv://user:password@cluster.mongodb.net/dbname"
MONGODB_DATABASE=logiroute

# App Config
APP_NAME=Routiqo
APP_ENV=local
APP_KEY=
APP_DEBUG=true
